body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
  }
  .carousel-caption d-none d-md-block {
    color: black;
  
  }
  .container {
    flex: 1;
  }
  footer {
    background-color: #C8102E;
    color: white;
    padding: 60px 0;
    flex: 1;
  }
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
.containerlast{
    color: #C8102E;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.con {
    color: black;
    max-width: 800px; 
    margin: 3cqmax; 
    text-align: left; 
    padding-left: 1px;
}